@font-face {
    font-family: "Tilda";
    src: url("../fonts/Tilda/TildaSans-Semibold.woff") format("woff"),
        url("../fonts/Tilda/TildaSans-Semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    display: swap;
}
@font-face {
    font-family: "Tilda";
    src: url("../fonts/Tilda/TildaSans-Light.woff") format("woff"),
        url("../fonts/Tilda/TildaSans-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    display: swap;
}
