<section class="commerce">
    
    <div class="commerce__container3">
        <div class="commerce__wrapper">
            <img class="commerce__img1" src="/img/commerce/img1.jpg" alt="" />
            <div class="commerce__login-blog">
                <h2 class="commerce__login-title">
                    Получите коммерческое предложение
                </h2>
                <p class="commerce__login-text">
                    Оставьте свои данные, и мы с вами свяжемся
                </p>

                <form class="commerce__form" action="">
                    <input
                        class="commerce__input"
                        type="text"
                        autocomplete="name"
                        name="Name"
                        placeholder="Ваше полное имя"
                        style="color: #000000; " />

                    <input
                        class="commerce__input"
                        type="email"
                        autocomplete="email"
                        name="Email"
                        placeholder="Ваш E-mail"
                        style="color: #000000; " />
                    <input
                        class="commerce__input"
                        type="tel"
                        autocomplete="tel"
                        name="Phone"
                        placeholder="Ваш телефон"
                        data-tilda-rule="phone"
                        pattern="[0-9]*"
                        style="color: #000000;" />

                        <button class="commerce__button" type="submit">
                       Отправить заявку
                        </button>
                </form>
            </div>
        </div>
    </div>
</section>
