<section class="customer">
  <div class="container">
    <div class="customer__wrapper">
       <h1 class="customer__title"> 
          Заказчики
       </h1>

       <div class="customer__card-logo" >
           <img class="customer__img1" src="/img/customer/logo1.png" alt="" />
           <img class="customer__img2" src="/img/customer/logo2.webp" alt="" />
           <img class="customer__img3" src="/img/customer/logo4.webp" alt="" />
           <img class="customer__img4" src="/img/customer/logo3.webp" alt="" />
       </div>
    </div>
  </div>
</section>