<header class="header">
    <div class="container">
        <div class="header__wrapper">
             <img class="header__img" src="/img/header/site.logo.webp" alt="">
             <nav class="header__naviget">
                  <ul class="header__nav-list">
                    <li><a class="header__nav-link"  href="">О Нас</a></li>
                    <li><a class="header__nav-link"  href="">Мы поставляем</a></li>
                    <li><a class="header__nav-link"  href="">Наши Услуги</a></li>
                    <li><a class="header__nav-link"  href="">Заказчики</a></li>
                    <li><a class="header__nav-link"  href="">Партнёры</a></li>
                    <li><a class="header__nav-link"  href="">Контакты</a></li>
                  </ul>
             </nav>





        <div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
  <img class="header__img-menu" src="/img/header/site.logo.webp" alt="">
    <a class="header__nav-link2" href="#">О Нас</a>
    <a class="header__nav-link2" href="#">Мы поставляем</a>
    <a class="header__nav-link2" href="#">Наши Услуги</a>
    <a class="header__nav-link2" href="#">Заказчики</a>
    <a class="header__nav-link2" href="#">Партнёры</a>
    <a class="header__nav-link2" href="#">Контакты</a>
</div>
</div>
<span  class="menu" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>

        </div>
       
    </div>
    
</header>
