<section class="partners">
    <div class="container">
        <div class="partners__wrapper">
            <h1 class="partners__title">Партнёры</h1>

            <div class="partners__logo-card">
                <img class="partners__img1"src="/img/partners/logo1.webp"   alt="" />
                 <img class="partners__img2"src="/img/partners/logo2.webp"   alt="" />
                 <img class="partners__img3"src="/img/partners/logo3.png"   alt="" />
                 <img class="partners__img4"src="/img/partners/logo4.webp"   alt="" />
                 <img class="partners__img5"src="/img/partners/logo5.png"   alt="" />
                 <img class="partners__img6"src="/img/partners/logo6.webp"   alt="" />
                 <img class="partners__img7"src="/img/partners/logo7.webp"   alt="" />
                 <img class="partners__img8"src="/img/partners/logo8.webp"   alt="" />  
                    
                 
            </div>
        </div>
    </div>
</section>
