<section class="provision">
    <div class="container2">
        <div class="provision__wrapper">
            <h2 class="provision__title">МЫ ПОСТАВЛЯЕМ</h2>
            <div class="provision__card-img">
                <div class="provision__img1">
                    <img
                        class="provision__imj1"
                        src="/img/provision/img1.jpg"
                        alt="" />
                    <p class="provision__imj1-title">. Буровые долота</p>
                </div>
                <div class="provision__img2">
                    <img
                        class="provision__imj2"
                        src="/img/provision/img2.webp"
                        alt="" />
                    <p class="provision__imj1-title">
                        . Газовые и воздушные компрессоры
                    </p>
                </div>
                <div class="provision__img3">
                    <img
                        class="provision__imj4"
                        src="/img/provision/img4.webp"
                        alt="" />
                    <p class="provision__imj3-title">
                        . Воздушные и Масленые фильтры
                    </p>
                </div>
                <div class="provision__img4">
                    <img
                        class="provision__imj3"
                        src="/img/provision/img3.png"
                        alt="" />

                    <p class="provision__imj1-title">
                        . Графитные изделия высокой частоты
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

