<section class="services">
    <div class="container2">
        <div class="services__wrapper">
            <h1 class="services__title">Наши Услуги</h1>

            <div class="services__card-img">
                <div class="services__img">
                    <img
                        class="services__imj2"
                        src="/img/servis/img2.webp"
                        alt="" />
                    
                    <p class="services__imj1-title">
                        Подбор, ремонт и аренда буровых долот
                    </p>
                </div>
                <div class="services__img">
                    <img
                        class="services__imj1"
                        src="/img/servis/img1.webp"
                        alt="" />
                    <p class="services__imj2-title">
                        Инженерное сопровождение бурения
                    </p>
                </div>
                <div class="services__img">
                    <img
                        class="services__imj3"
                        src="/img/servis/img3.webp"
                        alt="" />
                    <p class="services__imj3-title">
                        Проведения электромонтажных работ любого уровня
                    </p>
                </div>
                <div class="services__img">
                    <img
                        class="services__imj4"
                        src="/img/servis/img4.webp"
                        alt="" />

                    <p class="services__imj4-title">
                        Сантехнические работы любой сложности
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
